h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.footer {
  background-color: teal;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  width: 75%;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer td {
  padding-left: 20px;
}
