h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.developer {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.jobentry {
  padding: 5px;
}
.jobtitle {
  border-radius: 4px;
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 5px;
}
.jobdetailblock{
  padding-top: 5px;
}

.footer {
  background-color: teal;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  width: 75%;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer td {
  padding-left: 20px;
}

.clients a {
  text-decoration: none;
  color: white;
}
